@page "/counter"
@rendermode InteractiveServer

<PageTitle>Emanueli</PageTitle>

<p style="color: rgb(23, 203, 213);">
Emanueli Xavier - 3°A Informática
</p>

<h1 style="color: rgb(9, 93, 134)">Sobre mim - Emanueli</h1>

<div style="color: rgb(11, 128, 91); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <br>Nasci em Ji-Paraná<p></p>Quero fazer faculdade de obstetrícia<p></p>
    Veterana de informática do A<p></p>
    Líder do 3°A Informática 2025 no IFRO <i>Campus</i> Ji-Paraná
    Gosto de me cuidar<p></p>
    Gosto de filmes e séries<p></p>
    Gosto de Branquelas<p></p>
    Tenho um cachorro (filho) chamado Billy<p></p>
</div>